@font-face {
  font-family: "DacningScript";
  src: url("../assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto-Regular" ;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light" ;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold" ;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

