@use "fontface" as *;

$ff-logo: "DacningScript", sans-serif;
$ff-headers: "Jost", sans-serif;
$ff-main: "Roboto-Regular", sans-serif;
$ff-main--light: "Roboto-Light", sans-serif;
$ff-main--bold: "Roboto-Bold", sans-serif;


