@use "fontface" as *;

$ff-logo: "DacningScript", sans-serif;
$ff-headers: "Jost", sans-serif;
$ff-main: "Roboto-Regular", sans-serif;
$ff-main--light: "Roboto-Light", sans-serif;
$ff-main--bold: "Roboto-Bold", sans-serif;

$fs-xl: 4.5em;
$fs-l: 3.5em;
$fs-m: 2em;
$fs-s: 1.2em;
$fs-xs: 1em;
$fs-xxs: .7em;


//* ///Pages///

//* Main page
.menu {

  &__title {
    font-family: $ff-headers;
    font-size: $fs-l;
  }

  &__desc {
    font-family: $ff-main--light;
    font-size: $fs-s;
  }
}

.ambience {
  
  &__header {
    font-family: $ff-headers;
    font-size: $fs-l;
  }
}

.address {

  &__header {
    font-family: $ff-headers;
    font-size: $fs-l;
  }

  &__call {
    font-family: $ff-headers;
    font-size: $fs-m;
  }

  &__phone-number {
    font-family: $ff-main--light;
    font-size: $fs-s;
  }
}

//* Delivery
.delivery {

    &__title {
      font-family: $ff-headers;
      font-size: $fs-xl;
    }
}

//* Our History

.history {

  &__chef-name {
    font-family: $ff-main;
    font-size: $fs-s;
  }

  &__caption {
    font-family: $ff-main;
    font-size: $fs-s;
  }

  &__title {
    font-family: $ff-headers;
    font-size: $fs-l;
  }

  &__content {
    font-family: $ff-main;
    font-size: $fs-s;
  }

}

//* ///Elements///

.navbar {

  &__logo {
    font-family: $ff-logo;
    font-size: $fs-m;
  }

  &__items {
    font-family: $ff-headers;
    font-size: $fs-s;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.footer {

  &__copyright {
    font-family: $ff-main--light;
    font-size: $fs-xs;
  }
}

.btn {
  font-family: $ff-main;
  font-size: $fs-s;
  text-decoration: none;
}

.card {
  &__title {
    font-family: $ff-headers;
    font-size: $fs-l;
  }

  &__text {
    font-family: $ff-main;
    font-size: $fs-s;
  }
}