@use '../base/' as *;

.delivery {

    &__title {
      margin-top: $spacer-m;
      text-align: center;
    }

    &__first-card {
      margin-top: $spacer-m;
      background-color: $clr-secondary;
      color: $clr-white;
    }

    &__second-card {
      background-color: $clr-main-dark;
      margin-bottom: $spacer-l;

        .uber-eats {
          text-decoration: none;
          color: $clr-accent;

            &:hover,
            &:focus {
              opacity: .7;
            }
        }
    }
}