@use "../base/" as *;

.hero {
  &__first-card {
    background-color: $clr-secondary;
    color: $clr-main-light;
  }

  &__second-card {
    background-color: $clr-main-dark;
  }
}

.menu {
  margin: $spacer-m auto 0 auto;
  text-align: center;

  &__title {
    margin-bottom: $spacer-s;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: $spacer-l;

  &__map {
    margin-block: $spacer-s;
  }
}

.footer {
  margin-top: $spacer-m;
  background-color: $clr-main-light;
  box-shadow: $box-shadow-top;
  padding-block: $spacer-xs;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social {
      display: flex;
      gap: 40px;
      justify-content: center;

        &__icon {
          width: 40px;
          filter: invert(9%) sepia(19%) saturate(6637%) hue-rotate(296deg) brightness(90%) contrast(92%);
          transition: all .2s ease;

            &:hover {
              opacity: .7;
            }
        }
    }

    &__copyright {
      margin-top: $spacer-xs;
    }
}