@font-face {
  font-family: "DacningScript";
  src: url("../assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.menu__title {
  font-family: "Jost", sans-serif;
  font-size: 3.5em;
}
.menu__desc {
  font-family: "Roboto-Light", sans-serif;
  font-size: 1.2em;
}

.ambience__header {
  font-family: "Jost", sans-serif;
  font-size: 3.5em;
}

.address__header {
  font-family: "Jost", sans-serif;
  font-size: 3.5em;
}
.address__call {
  font-family: "Jost", sans-serif;
  font-size: 2em;
}
.address__phone-number {
  font-family: "Roboto-Light", sans-serif;
  font-size: 1.2em;
}

.delivery__title {
  font-family: "Jost", sans-serif;
  font-size: 4.5em;
}

.history__chef-name {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em;
}
.history__caption {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em;
}
.history__title {
  font-family: "Jost", sans-serif;
  font-size: 3.5em;
}
.history__content {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em;
}

.navbar__logo {
  font-family: "DacningScript", sans-serif;
  font-size: 2em;
}
.navbar__items {
  font-family: "Jost", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}
.navbar a {
  text-decoration: none;
  color: black;
}

.footer__copyright {
  font-family: "Roboto-Light", sans-serif;
  font-size: 1em;
}

.btn {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.card__title {
  font-family: "Jost", sans-serif;
  font-size: 3.5em;
}
.card__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em;
}

.is-hidden {
  display: none;
}

.container {
  max-width: 1280px;
  width: 96%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.header {
  background-color: #F5E8E4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
.navbar__items {
  display: none;
  text-align: center;
}
.navbar__items.is-active {
  display: flex;
  flex-direction: column;
}
.navbar__item {
  margin-top: 0.7rem;
}
.navbar__item a {
  transition: all 0.2s ease;
}
.navbar__item a:hover {
  color: #D1512D;
}
.navbar__hamburger {
  display: block;
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.navbar__hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #411530;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.navbar__hamburger:hover span {
  background-color: #D1512D;
}
.navbar__hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.navbar__hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
.navbar__hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__items {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .navbar__item {
    margin: 0;
  }
  .navbar__item:not(:first-child) {
    margin-left: 2rem;
  }
}
.card {
  display: flex;
  justify-content: space-between;
}
.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 2rem;
}
.card__img {
  width: 40%;
  max-width: 480px;
  align-self: center;
}
.card__title {
  line-height: 5rem;
}
.card__text {
  margin-block: 4rem;
}

.card--plain .card__wrapper {
  width: 100%;
  max-width: 800px;
}
.card--plain .card__text {
  margin-block: 2rem;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-top: 3rem;
    flex-direction: column;
  }
  .card__wrapper {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .card__img {
    width: 100%;
    order: 1;
  }
  .card--plain .card__text {
    text-align: left;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hero {
  margin-top: 4rem;
}
.hero__first-card {
  background-color: #411530;
  color: #F5E8E4;
}
.hero__second-card {
  background-color: #F5C7A9;
  color: white;
}

.menu {
  margin: 3rem auto 0 auto;
  text-align: center;
}
.menu__title {
  margin-bottom: 2rem;
}
.menu__items {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  width: 30%;
  max-width: 480px;
}

.ambience {
  position: relative;
  height: 400px;
  max-width: 80%;
  margin: 0 auto;
}
.ambience__header {
  text-align: center;
  margin-block: 3rem;
}
.ambience__track {
  height: 100%;
  position: relative;
  transition: transform 250ms ease-in;
}
.ambience__slide {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  animation: slide 1s;
}
@keyframes slide {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.ambience__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ambience__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  transition: 0.2s ease;
  z-index: 2;
}
.ambience__button img {
  width: 50px;
  filter: invert(0%) sepia(100%) saturate(12%) hue-rotate(231deg) brightness(98%) contrast(102%);
}
.ambience__button:hover {
  filter: invert(36%) sepia(68%) saturate(1217%) hue-rotate(341deg) brightness(90%) contrast(89%);
}
.ambience__button--left {
  left: -3rem;
}
.ambience__button--right {
  right: -3rem;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4rem;
}
.address__map {
  margin-block: 2rem;
  max-width: 98%;
}

.footer {
  background-color: #F5E8E4;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
  padding-block: 1rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .social {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer .social__icon {
  width: 40px;
  filter: invert(9%) sepia(19%) saturate(6637%) hue-rotate(296deg) brightness(90%) contrast(92%);
  transition: 0.2s ease;
}
.footer .social__icon:hover, .footer .social__icon:focus {
  opacity: 0.7;
}
.footer__copyright {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .menu__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__item {
    width: 90%;
  }
  .menu__item:not(:first-child) {
    margin-top: 3rem;
  }
  .address__header {
    text-align: center;
  }
}
.history {
  display: flex;
  flex-direction: column;
}
.history__chef {
  max-width: 300px;
  border-radius: 50%;
  margin: 3rem auto 2rem auto;
}
.history__chef-name, .history__caption {
  align-self: center;
}
.history__title {
  text-align: center;
  margin-block: 3rem;
}
.history__content {
  max-width: 600px;
  align-self: center;
  text-align: justify;
}
.history__para:not(:last-child) {
  margin-bottom: 1rem;
}
.history__para:last-child {
  margin-bottom: 3rem;
}

.delivery__title {
  margin-top: 3rem;
  text-align: center;
}
.delivery__first-card {
  margin-top: 3rem;
  background-color: #411530;
  color: #fff;
}
.delivery__second-card {
  background-color: #F5C7A9;
  margin-bottom: 4rem;
}
.delivery__second-card .uber-eats {
  text-decoration: none;
  color: #D1512D;
}
.delivery__second-card .uber-eats:hover, .delivery__second-card .uber-eats:focus {
  opacity: 0.7;
}
